VITE_SUPABASE_URL=https://eqyycmmbcesrtxuawyyb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxeXljbW1iY2VzcnR4dWF3eXliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNjMyNTUsImV4cCI6MjA5OTYzOTI1NX0.zZbz5KFlfP-WjDH8ctKY2Ql1eawQ6yU6y469JI5QrLo
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
